body {
	background-color:rgb(2,17,35);
    margin-top:30px;
    margin-bottom:30px;
 
}

.page-title {
	border: 1px solid white;
	border-left: hidden;
	border-right: hidden;
	text-align: center;
}

.jumbotron {
  align-items: center;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  display: flex;    
  color:white
  padding:0;
  margin-bottom:0;
  background-color:rgb(2,17,35);
}

.jumbotron h1{
    font-size: 56px;
	font-family: Palatino,'Palatino Linotype', serif;
}

p {
    color:white;
    text-align:center;
    font-size:12px;
}

h1{
    color:white;
    font-size: 56px;
	font-family: Palatino,'Palatino Linotype', serif;
    text-align:center;
}

h2 {
    color:white;
    text-align:center
}

h3 {
    color:white;
    text-align:center
}

h4{
    color:gray;
    text-align:center;
}

h5 {
    color:gray;
    text-align:center;
    font-size:15px;
}


.button {
    position: absolute;
    top: 50%;
}

#navbar {
	/*Add your CSS here!*/
	
	left:50%;
	margin-left:-800px;
	position:fixed;
	margin-top:50px;
    font-size:30px;
    color:white;
}
