h1 {
	font-size: 56px;
	font-family: Palatino,'Palatino Linotype', serif;
	color:white;
}

body {
	background-color:rgb(16,17,35);
}

.page-title {
	border: 1px solid white;
	border-left: hidden;
	border-right: hidden;
	text-align: center;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url(background.png);
  background-position: center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}