h1 {
	font-size: 56px;
	font-family: Palatino,'Palatino Linotype', serif;
	color:white;
}

body {
	background-color:black;
}

.page-title {
	border: 1px solid white;
	border-left: none
	border-right: none
	text-align: center
}